/wandb/
/wandb_results/
.venv/
/__pycache__/
**/*.out
**/*.jsonl
/ppo_checkpoint/
/evaluation_pipeline/filter-data
/babylm_data

src/wandb/
src/interactive-learning/__pycache__
data/
babylm_gpt2_small/

__MACOSX
.vscode
runs/
*.log

saved_models/