/wandb/
/wandb_results/
.venv/
.env
/__pycache__/
**/*.out
**/*.jsonl
/ppo_checkpoint/
/evaluation_pipeline/filter-data
/babylm_data

src/wandb/
src/interactive-learning/__pycache__
data/
babylm-*/
babylm_*/

*.tar.gz

__MACOSX
.vscode
runs/
*.log

saved_models/

eval/models/
eval/results/
eval/evaluation_data/